# OS files
**/.DS_Store
**/desktop.ini

# Editor
.idea/
.vscode/

# Vim
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
Session.vim
.netrwhist
*~
tags

# Hugo output
/public
/resources/
.hugo_build.lock

# Node
/node_modules/

# Netlify
.netlify

# Go
/bin/
